@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter Tight', sans-serif;


}


html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;

}

/* Header/logo Title */
.header {
  

  min-height: 100vh;
  min-height: -webkit-fill-available;
text-align: center;
background: #6a6a6a;
color: white;
}


.p {
  text-align: justify;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;


  
	background: linear-gradient(-45deg, #2c1635, #002244, #171634, #002142);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.logo {
  padding: 5em;
}
.logo .word {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: auto;
}
.logo .hover {
  flex: 1;
  display: grid;
  height: calc(100vh - 10em);
  grid: repeat(2, 2fr)/100%;
  position: relative;
}
.logo .hover div {
  position: relative;
  z-index: 5;
}
.logo .hover div:nth-child(1):hover ~ h1 {
  margin-top: -10px;
}
.logo .hover div:nth-child(2):hover ~ h1 {
  margin-top: -50px;
}
.logo h1 {
  color: rgba(132, 0, 255, 0.412);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -30px;
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 0;
}




img {
  max-width: 70%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

  --b: 8px;  /* border thickness*/
  --s: 60px; /* size of the corner*/
  --g: 14px; /* the gap*/
  --c: #e83151; 
  
  padding: calc(var(--b) + var(--g));
  background-image:
    conic-gradient(from  90deg at top    var(--b) left  var(--b),#0000 25%,var(--c) 0),
    conic-gradient(from -90deg at bottom var(--b) right var(--b),#0000 25%,var(--c) 0);
  background-position:
    var(--_p,0%) var(--_p,0%),
    calc(100% - var(--_p,0%)) calc(100% - var(--_p,0%));
  background-size: var(--s) var(--s);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 
    background-position .3s var(--_i,.3s), 
    background-size .3s calc(.3s - var(--_i,.3s));
}
img.alt {
  background-image:
    conic-gradient(from 180deg at top    var(--b) right var(--b),#0000 25%,var(--c) 0),
    conic-gradient(from   0deg at bottom var(--b) left  var(--b),#0000 25%,var(--c) 0);
  background-position:
    calc(100% - var(--_p,0%)) var(--_p,0%),
    var(--_p,0%) calc(100% - var(--_p,0%));
}
img:hover {
  background-size: calc(100% - var(--g)) calc(100% - var(--g));
  --_p: calc(var(--g)/2);
  --_i: 0s;
  
  filter: none;
  -webkit-filter: grayscale(0);
}


input[type=checkbox] {
  display: none;
}



input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  transition: transform 0.25s ease;
  cursor: zoom-out;
}
/* Style the top navigation bar */
.navbar {
  display: -webkit-flex;
  
  background:
    linear-gradient(
      to right,
      rgb(229, 0, 0),
      rgb(229, 0, 0),
    ),
    linear-gradient(
      to right,
      rgb(229, 0, 0),
      rgb(229, 0, 0),
      rgb(229, 0, 0),
  );
    
  border-radius: 15px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  text-align: center;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  background: #111;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.row {  
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  padding:100px;
	background: linear-gradient(-45deg, #24234f, #20005c, #42295a, #27016e);
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 24px 12px rgba(0,0,0,0.4); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 24px 12px rgba(0,0,0,0.4);

}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 40%;
  background-color:  #000000c7;
  border-top-left-radius: 30px;
  color: rgb(255, 255, 255);
  padding: 100px;
  /*box-shadow: rgba(255, 255, 255, 0.4) -5px 5px, rgba(189, 189, 189, 0.3) -10px 10px, rgba(139, 139, 139, 0.2) -15px 15px, rgba(77, 77, 77, 0.1) -20px 20px, rgba(82, 82, 82, 0.05) -25px 25px;*/
}


/* Main column */
.main {
  
  border-top-right-radius: 30px;
  flex: 60%;
  background-color: #513356c6;
  color: #ffffff;
  padding: 60px;
  

}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 100px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;

  }
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar, .side,.main {   
    flex-direction: column;
    grid-row-gap: 0;
    padding: 20px;
    

  }
}

.footer {
  display: -webkit-flex;
  flex: 100%;
  /*position:fixed; */
  position:relative;
  padding: 5rem;
  color: rgba(255, 255, 255, 0.358);
  text-align: center;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.249);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}


@keyframes animate {
    0%, 100% {
      background-position: left top;
    }
    25%{
      background-position: right bottom;
     }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }   
}


.nav {
  width: 90vw;
  height:10vh;
  display:flex;
  background:white;
  border-radius: 15px;
}
.nav .link {
  position:relative;
  flex:1;
  line-height:90px;
  text-align:center;
}
.nav .link a {
  position:relative;
  color:#000000;
  font-size:20px;
  text-decoration:none;
  z-index:2;
}
.nav .link:before {
  content:"";
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:0%;
  background:rgb(229, 0, 0) ;
  z-index:-1;
  transition:all 300ms ease-in-out;
}
.nav .link:after {
  content:"";
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:0%;
  background:      rgb(229, 0, 0);
  transition:all 300ms ease-in-out;
  border-radius: 15px;
}
.nav .link:hover {
  cursor:pointer;
}
.nav .link:hover:before {
  height:100%;
  filter:blur(30px);
}
.nav .link:hover:after {
  height:100%;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.underline {
  --line: #fd0000;
  --color: #b47373;
  text-decoration: none;
  color: var(--color);
  position: relative;
}
.underline span {
  background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: var(--background-size, 100%) 1px;
  transition: background-size 0.2s linear var(--background-delay, 0.15s);
  font-size: 16px;
  line-height: 20px;
  transform: translateZ(0);
}
.underline svg {
  vertical-align: top;
  display: inline;
  line-height: 1;
  width: 13px;
  height: 20px;
  position: relative;
  left: -2px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
  stroke: var(--line);
  stroke-dasharray: 7.95 30;
  stroke-dashoffset: var(--stroke-dashoffset, 46);
  transition: stroke-dashoffset var(--stroke-duration, 0.15s) var(--stroke-easing, linear) var(--stroke-delay, 0s);
}
.underline:hover {
  --background-size: 0%;
  --background-delay: 0s;
  --stroke-dashoffset: 26;
  --stroke-duration: .3s;
  --stroke-easing: cubic-bezier(.3, 1.5, .5, 1);
  --stroke-delay: .195s;
}
